{{extend '../_layouts/home.html'}}

{{block 'title'}}{{'多人博客 - 首页'}}{{/block}}

{{block 'body'}}
<section class="container">
  {{include '../_partials/settings-nav.html'}}
  <div class="col-md-5">
    <div class="subhead">
      <h2>修改密码</h2>
    </div>
    <hr>
    <form id="upDateAdmin_from">
      <div class="form-group">
        <label for="exampleInputPassword1">当前密码</label>
        <input type="password" name="currentPassword" class="form-control" id="exampleInputPassword1" placeholder="">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">新的密码</label>
        <input type="password" name="newPassword" class="form-control" id="exampleInputPassword1" placeholder="">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">确认密码</label>
        <input type="password" name="comfirmPassword" class="form-control" id="exampleInputPassword1" placeholder="">
      </div>
      <button type="submit" class="btn btn-success">保存</button>
    </form>
    <div class="subhead">
      <h2>注销账号</h2>
      <hr>
    </div>
    <form id="deleteAdmin_from">
      <div class="form-group">
        <label for="exampleInputPassword1">当前密码</label>
        <input type="password" name="currentPassword_delete" class="form-control" id="exampleInputPassword1" placeholder="">
      </div>
      <div>
        <p>一旦注销，不可找回，请谨慎操作</p>
        <button type="submit" class="btn btn-danger">删除</button>
      </div>
      <hr>
    </form>
  </div>
</section>
{{/block}}

{{block 'script'}}
<script src="../../public/js/post_ajax.js"></script>
<script src="../../public/js/admin.js"></script>
{{/block}}

