{{extend '../_layouts/home.html'}}

{{block 'title'}}{{'多人博客 - 首页'}}{{/block}}
{{block 'head'}}
<link rel="stylesheet" href="../../public/css/settings.css">
<style>
.hidden {
  display: none
}
</style>
{{/block}}
{{block 'body'}}
<section class="container">
  {{include '../_partials/settings-nav.html'}}
  <div class="col-md-5">
    <form id="upDateAvatar_from" method="post" action="/avatar" enctype="multipart/form-data">
      <div class="profile-avatar">
          <dl>
            <dt>头像设置</dt>
            <dd>
              <label for="profile-avatar">
              <img class="avatar" width="150" height="150" src="..{{ user.avatar }}" alt="">
              <input type="file" id="profile-avatar" name="avatar">
              <!-- <input type="hidden" name="avatar" id=""> -->
            </label>
            </dd>
          </dl>
        </div>
      <button type="submit" class="hidden">保存</button>
    </form>
    <form id="upDateProfit_from">
      <div class="form-group">
        <label for="exampleInputEmail1">账号</label>
        <p class="form-control-static">{{user.email}}</p>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">昵称</label>
        <input type="text" class="form-control" id="exampleInputPassword1" name="nickname" value="{{user.nickname}}">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">介绍</label>
        <textarea class="form-control" name="bio" rows="3">{{user.bio}}</textarea>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">性别</label>
        <div>
          <label class="radio-inline">
            <input type="radio" id="inlineRadio1" name="gender" value="1" {{ user.gender == 1 ? 'checked' : ''}}> 男
          </label>
          <label class="radio-inline">
            <input type="radio" id="inlineRadio2" name="gender" value="0" {{ user.gender == 0 ? 'checked' : ''}}> 女
          </label>
          <label class="radio-inline">
            <input type="radio" id="inlineRadio3" name="gender" value="-1" {{ user.gender == -1 ? 'checked' : ''}}> 保密
          </label>
        </div>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">生日</label>
        <input type="text" name="birthday" class="form-control" id="exampleInputPassword1" placeholder="">
      </div>
      <button type="submit" class="btn btn-success">保存</button>
    </form>
  </div>
</section>
{{/block}}
{{block 'script'}}
<script src="../../public/js/post_ajax.js"></script>
<script src="../../public/js/profile.js"></script>
{{/block}}
