{{extend './_layouts/home.html'}}

{{block 'title'}}{{'多人博客 - 首页'}}{{/block}}

{{block 'body'}}
{{block 'head'}}
<style>
  .media-list {
    padding-left: 0;
    list-style: none;
    min-height: 500px;
}
</style>
{{/block}}
<section class="container">
    {{ if finalData }}
  <ul class="media-list">
      {{ each finalData.lists }}
    <li class="media">
      <div class="media-left">
        <a href="#">
            <img width="40" height="40" class="media-object" src="..{{ $value.user_detail[0].avatar }}" alt="...">
          </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading"><a href="/posts/show?id={{ $value._id }}">{{ $value.title }}</a></h4>
        <p>{{ $value.likes }} 人喜欢 • {{ $value.comment_detail.length }} 个回复 • 更新于{{ $value.last_modified_time }}</p>
      </div>
    </li>
    {{ /each }}
  </ul>

  <nav aria-label="Page navigation">
    <ul class="pagination">
      <li>
        <a href="/?page={{ finalData.pageControl.page - 1 }}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
      </li>

      {{ each finalData.pageControl.pageControlLists }}
      <li {{ $value == finalData.pageControl.page ? 'class=active' : '' }}><a href="/?page={{ $value }}">{{ $value }}</a></li>
      {{ /each }}
      <li>
        <a href="/?page={{ finalData.pageControl.page + 1 }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
      </li>
    </ul>
  </nav>
  {{ else if message }}
  <div class="col-md-7" style="height: 500px;width: 500px;padding: 50px;font-size: 30px;">
         <p>暂时没有文章哦！</p>
         <a href="/posts/new">开始我的写作</a>
  </div>
  {{ /if }}
</section>
{{/block}}